body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#loading {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  z-index: 999;
}
