html, body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#camera, #overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#overlay {
  pointer-events: none;
}

#hint {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
  z-index: 10;
}
